language: ruby
os:
  - linux
  # - osx
before_install:
  - gem install bundler -v 1.10.6
  - bundle install
rvm:
  - 2.6.0
  - 2.5.3
  - 2.4.5
  - 2.3.8
  - 2.2.2
notifications:
  email: false
sudo: required
dist: trusty
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.9
      - gcc-5
      - clang
script:
  - echo CFLAGS = $CFLAGS
  - echo cflags = $cflags
  - gem uninstall -x iodine
  - rake build
  - find pkg/iodine-*.gem -exec gem install -V {} +
  - gem uninstall -x iodine
  - export CFLAGS="-std=c99"
  - export CC=gcc
  - find pkg/iodine-*.gem -exec gem install -V {} +
  - gem uninstall -x iodine
  - export CFLAGS="-Wall"
  - export CC="gcc-5"
  - find pkg/iodine-*.gem -exec gem install -V {} +
